<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>books</key>
	<array>
		<dict>
			<key>icon</key>
			<string>bookicon/bookicon@2x.png</string>
			<key>name</key>
			<string>赌遍全球2</string>
			<key>description</key>
			<string>赌遍全球系列图书第二版</string>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string>bookicon/bookicon@2x.png</string>
			<key>name</key>
			<string>赌遍全球3</string>
			<key>description</key>
			<string>赌遍全球系统图书第三版</string>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string>bookicon/bookicon@2x.png</string>
			<key>name</key>
			<string>赌遍全球4</string>
			<key>description</key>
			<string>赌遍全球系列图书第四版</string>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string>bookicon/bookicon@2x.png</string>
			<key>name</key>
			<string>赌遍全球5</string>
			<key>description</key>
			<string>赌遍全球系列图书第五版</string>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string>bookicon/bookicon@2x.png</string>
			<key>name</key>
			<string>赌遍全球6</string>
			<key>description</key>
			<string>赌遍全球系列图书第六版</string>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string>bookicon/bookicon@2x.png</string>
			<key>name</key>
			<string>赌遍全球7</string>
			<key>description</key>
			<string>赌遍全球系列图书第七版</string>
			<key>path</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
