<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>pageIndex</key>
		<string>0</string>
		<key>time</key>
		<date>2012-05-08T01:26:59Z</date>
		<key>content</key>
		<string>asdfasdfasdf</string>
	</dict>
	<key>102</key>
	<dict>
		<key>pageIndex</key>
		<string>102</string>
		<key>time</key>
		<date>2012-05-08T01:27:58Z</date>
		<key>content</key>
		<string>这是一本介绍iPhone开发的基础教程</string>
	</dict>
	<key>3</key>
	<dict>
		<key>pageIndex</key>
		<string>3</string>
		<key>time</key>
		<date>2012-05-08T01:28:32Z</date>
		<key>content</key>
		<string>这是一本介绍iPhone开发的基础教程</string>
	</dict>
</dict>
</plist>
