<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BodyFontSize</key>
	<integer>120</integer>
	<key>PageBreakSet</key>
	<array>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>157</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>title</key>
			<string>序言</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string>序言.html</string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>12</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>131</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>12</integer>
					<key>ParaIndex</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>141</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>20</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第一章德州扑克的发展历史</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string>第一章德州扑克的发展历史.html</string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>2</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>12</integer>
					<key>ChapterIndex</key>
					<integer>2</integer>
					<key>ParaIndex</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>12</integer>
					<key>ParaIndex</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>77</integer>
					<key>ChapterIndex</key>
					<integer>2</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>118</integer>
					<key>ChapterIndex</key>
					<integer>2</integer>
					<key>ParaIndex</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>25</integer>
					<key>ChapterIndex</key>
					<integer>2</integer>
					<key>ParaIndex</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>64</integer>
					<key>ChapterIndex</key>
					<integer>2</integer>
					<key>ParaIndex</key>
					<integer>22</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>64</integer>
					<key>ChapterIndex</key>
					<integer>2</integer>
					<key>ParaIndex</key>
					<integer>22</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二章如何在德州扑克上赚钱</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>3</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>160</integer>
					<key>ChapterIndex</key>
					<integer>3</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>25</integer>
					<key>ChapterIndex</key>
					<integer>3</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>64</integer>
					<key>ChapterIndex</key>
					<integer>3</integer>
					<key>ParaIndex</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>288</integer>
					<key>ChapterIndex</key>
					<integer>3</integer>
					<key>ParaIndex</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>90</integer>
					<key>ChapterIndex</key>
					<integer>3</integer>
					<key>ParaIndex</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>367</integer>
					<key>ChapterIndex</key>
					<integer>3</integer>
					<key>ParaIndex</key>
					<integer>71</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>12</integer>
					<key>ParaIndex</key>
					<integer>21</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第三章德州扑克的规则和术语</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>4</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>4</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>12</integer>
					<key>ParaIndex</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>238</integer>
					<key>ChapterIndex</key>
					<integer>4</integer>
					<key>ParaIndex</key>
					<integer>17</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第四章新手入门</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>5</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>5</integer>
					<key>ParaIndex</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>12</integer>
					<key>ParaIndex</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>128</integer>
					<key>ChapterIndex</key>
					<integer>5</integer>
					<key>ParaIndex</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>5</integer>
					<key>ParaIndex</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>176</integer>
					<key>ChapterIndex</key>
					<integer>5</integer>
					<key>ParaIndex</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>5</integer>
					<key>ParaIndex</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>82</integer>
					<key>ChapterIndex</key>
					<integer>5</integer>
					<key>ParaIndex</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>158</integer>
					<key>ChapterIndex</key>
					<integer>5</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>5</integer>
					<key>ParaIndex</key>
					<integer>51</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第五章了解你手中的底牌</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>6</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>14</integer>
					<key>ChapterIndex</key>
					<integer>6</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>255</integer>
					<key>ChapterIndex</key>
					<integer>6</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>12</integer>
					<key>ParaIndex</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>12</integer>
					<key>ChapterIndex</key>
					<integer>6</integer>
					<key>ParaIndex</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>6</integer>
					<key>ParaIndex</key>
					<integer>37</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第六章翻牌见分晓</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>7</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>121</integer>
					<key>ChapterIndex</key>
					<integer>7</integer>
					<key>ParaIndex</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>125</integer>
					<key>ChapterIndex</key>
					<integer>7</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>100</integer>
					<key>ChapterIndex</key>
					<integer>7</integer>
					<key>ParaIndex</key>
					<integer>20</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第七章低池比率和出牌比率</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>8</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>157</integer>
					<key>ChapterIndex</key>
					<integer>8</integer>
					<key>ParaIndex</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>391</integer>
					<key>ChapterIndex</key>
					<integer>8</integer>
					<key>ParaIndex</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>115</integer>
					<key>ChapterIndex</key>
					<integer>8</integer>
					<key>ParaIndex</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>12</integer>
					<key>ParaIndex</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>338</integer>
					<key>ChapterIndex</key>
					<integer>8</integer>
					<key>ParaIndex</key>
					<integer>26</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第八章限注和无限注的差别</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>9</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>12</integer>
					<key>ChapterIndex</key>
					<integer>9</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>232</integer>
					<key>ChapterIndex</key>
					<integer>9</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>78</integer>
					<key>ChapterIndex</key>
					<integer>9</integer>
					<key>ParaIndex</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>12</integer>
					<key>ChapterIndex</key>
					<integer>9</integer>
					<key>ParaIndex</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>12</integer>
					<key>ParaIndex</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>25</integer>
					<key>ChapterIndex</key>
					<integer>9</integer>
					<key>ParaIndex</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>145</integer>
					<key>ChapterIndex</key>
					<integer>9</integer>
					<key>ParaIndex</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>229</integer>
					<key>ChapterIndex</key>
					<integer>9</integer>
					<key>ParaIndex</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>64</integer>
					<key>ChapterIndex</key>
					<integer>9</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>102</integer>
					<key>ChapterIndex</key>
					<integer>9</integer>
					<key>ParaIndex</key>
					<integer>88</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第九章德州扑克十大技巧</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>10</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>365</integer>
					<key>ChapterIndex</key>
					<integer>10</integer>
					<key>ParaIndex</key>
					<integer>7</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十章在河牌上加注</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>11</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>90</integer>
					<key>ChapterIndex</key>
					<integer>11</integer>
					<key>ParaIndex</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>142</integer>
					<key>ChapterIndex</key>
					<integer>11</integer>
					<key>ParaIndex</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>12</integer>
					<key>ParaIndex</key>
					<integer>21</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十一章小对子赚大钱</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>12</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>12</integer>
					<key>ChapterIndex</key>
					<integer>12</integer>
					<key>ParaIndex</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>131</integer>
					<key>ChapterIndex</key>
					<integer>12</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>25</integer>
					<key>ChapterIndex</key>
					<integer>12</integer>
					<key>ParaIndex</key>
					<integer>21</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十二章中等的起手对子</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>13</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>166</integer>
					<key>ChapterIndex</key>
					<integer>13</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>12</integer>
					<key>ParaIndex</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>1019</integer>
					<key>ChapterIndex</key>
					<integer>13</integer>
					<key>ParaIndex</key>
					<integer>7</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十三章底牌一对A的为难</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>14</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>84</integer>
					<key>ChapterIndex</key>
					<integer>14</integer>
					<key>ParaIndex</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>84</integer>
					<key>ChapterIndex</key>
					<integer>14</integer>
					<key>ParaIndex</key>
					<integer>11</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十四章盲注拿到好牌是否加注</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>15</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>15</integer>
					<key>ParaIndex</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十五章翻牌下注转牌过牌</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>16</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>163</integer>
					<key>ChapterIndex</key>
					<integer>16</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>163</integer>
					<key>ChapterIndex</key>
					<integer>16</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十六章避免在转牌中慢打</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>17</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>17</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>505</integer>
					<key>ChapterIndex</key>
					<integer>17</integer>
					<key>ParaIndex</key>
					<integer>22</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>163</integer>
					<key>ChapterIndex</key>
					<integer>16</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十七章半欺骗为攻击武器</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>18</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>25</integer>
					<key>ChapterIndex</key>
					<integer>18</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>244</integer>
					<key>ChapterIndex</key>
					<integer>18</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>106</integer>
					<key>ChapterIndex</key>
					<integer>18</integer>
					<key>ParaIndex</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>18</integer>
					<key>ParaIndex</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>163</integer>
					<key>ChapterIndex</key>
					<integer>16</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>116</integer>
					<key>ChapterIndex</key>
					<integer>18</integer>
					<key>ParaIndex</key>
					<integer>17</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十八章学好学精德州扑克</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>19</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>27</integer>
					<key>ChapterIndex</key>
					<integer>19</integer>
					<key>ParaIndex</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>19</integer>
					<key>ParaIndex</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>103</integer>
					<key>ChapterIndex</key>
					<integer>19</integer>
					<key>ParaIndex</key>
					<integer>29</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十九章扑克的谚语</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>20</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>404</integer>
					<key>ChapterIndex</key>
					<integer>20</integer>
					<key>ParaIndex</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>629</integer>
					<key>ChapterIndex</key>
					<integer>20</integer>
					<key>ParaIndex</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>76</integer>
					<key>ChapterIndex</key>
					<integer>20</integer>
					<key>ParaIndex</key>
					<integer>18</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>163</integer>
					<key>ChapterIndex</key>
					<integer>16</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>12</integer>
					<key>ChapterIndex</key>
					<integer>20</integer>
					<key>ParaIndex</key>
					<integer>19</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>25</integer>
					<key>ChapterIndex</key>
					<integer>20</integer>
					<key>ParaIndex</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>20</integer>
					<key>ParaIndex</key>
					<integer>22</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十章小心被出千欺骗</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>21</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>157</integer>
					<key>ChapterIndex</key>
					<integer>21</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>166</integer>
					<key>ChapterIndex</key>
					<integer>21</integer>
					<key>ParaIndex</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>163</integer>
					<key>ChapterIndex</key>
					<integer>16</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>497</integer>
					<key>ChapterIndex</key>
					<integer>21</integer>
					<key>ParaIndex</key>
					<integer>18</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>88</integer>
					<key>ChapterIndex</key>
					<integer>21</integer>
					<key>ParaIndex</key>
					<integer>22</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>90</integer>
					<key>ChapterIndex</key>
					<integer>21</integer>
					<key>ParaIndex</key>
					<integer>30</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十一章放下面子控制情绪</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>22</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>129</integer>
					<key>ChapterIndex</key>
					<integer>22</integer>
					<key>ParaIndex</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>163</integer>
					<key>ChapterIndex</key>
					<integer>16</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>24</integer>
					<key>ChapterIndex</key>
					<integer>22</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>88</integer>
					<key>ChapterIndex</key>
					<integer>22</integer>
					<key>ParaIndex</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>308</integer>
					<key>ChapterIndex</key>
					<integer>22</integer>
					<key>ParaIndex</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>180</integer>
					<key>ChapterIndex</key>
					<integer>22</integer>
					<key>ParaIndex</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>659</integer>
					<key>ChapterIndex</key>
					<integer>22</integer>
					<key>ParaIndex</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>77</integer>
					<key>ChapterIndex</key>
					<integer>22</integer>
					<key>ParaIndex</key>
					<integer>29</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十二章赌博是一种文化</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>23</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>104</integer>
					<key>ChapterIndex</key>
					<integer>23</integer>
					<key>ParaIndex</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>297</integer>
					<key>ChapterIndex</key>
					<integer>23</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>11</integer>
					<key>ChapterIndex</key>
					<integer>23</integer>
					<key>ParaIndex</key>
					<integer>35</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>163</integer>
					<key>ChapterIndex</key>
					<integer>16</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十三章视赌博为投资</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>24</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>155</integer>
					<key>ChapterIndex</key>
					<integer>24</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>24</integer>
					<key>ParaIndex</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>119</integer>
					<key>ChapterIndex</key>
					<integer>24</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>346</integer>
					<key>ChapterIndex</key>
					<integer>24</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>137</integer>
					<key>ChapterIndex</key>
					<integer>24</integer>
					<key>ParaIndex</key>
					<integer>38</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>24</integer>
					<key>ParaIndex</key>
					<integer>39</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>163</integer>
					<key>ChapterIndex</key>
					<integer>16</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>77</integer>
					<key>ChapterIndex</key>
					<integer>24</integer>
					<key>ParaIndex</key>
					<integer>43</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十四章走遍全球何处去赌</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>25</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>400</integer>
					<key>ChapterIndex</key>
					<integer>25</integer>
					<key>ParaIndex</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>38</integer>
					<key>ChapterIndex</key>
					<integer>25</integer>
					<key>ParaIndex</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>193</integer>
					<key>ChapterIndex</key>
					<integer>25</integer>
					<key>ParaIndex</key>
					<integer>14</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十五章人生就是一场赌</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>114</integer>
					<key>ChapterIndex</key>
					<integer>26</integer>
					<key>ParaIndex</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>119</integer>
					<key>ChapterIndex</key>
					<integer>26</integer>
					<key>ParaIndex</key>
					<integer>7</integer>
				</dict>
			</array>
			<key>title</key>
			<string>后 记</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
	</array>
	<key>PageHeight</key>
	<integer>658</integer>
	<key>PageWidth</key>
	<integer>442</integer>
</dict>
</plist>
