<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BodyFontSize</key>
	<integer>36</integer>
	<key>PageBreakSet</key>
	<array>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>300</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>2</integer>
					<key>ParaIndex</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>3</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>300</integer>
					<key>ChapterIndex</key>
					<integer>4</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>5</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>6</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>7</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>序言</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string>序言.html</string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第一章 德州扑克的发展</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二章 如何在德州扑克上赚钱</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第三章 德州扑克的规则和术语</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第四章 新手入门</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第五章 了解你手中的底牌</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第六章 翻牌见分晓</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第七章 低池比率和出牌比率</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第八章 限注和无限注的差别</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第九章 德州扑克十大技巧</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十章 在河牌上加注</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十一章 小对子赚大钱</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十二章 中等的起手对子</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十三章 底牌一对A的为难</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十四章  盲注拿到好牌是否加注</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十五章 翻牌下注转牌过牌</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十六章 避免在转牌中慢打</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十七章 半欺骗为攻击武器</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十八章 学好学精德州扑克</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十九章 扑克的谚语</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十章 小心被出千欺骗</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十一章 放下面子控制情绪</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十二章 赌博是一种文化</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十三章 视赌博为投资</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十四章 走遍全球何处去赌</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十五章 人生就是一场赌</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
	</array>
	<key>PageHeight</key>
	<integer>820</integer>
	<key>PageWidth</key>
	<integer>560</integer>
</dict>
</plist>
