<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BodyFontSize</key>
	<integer>150</integer>
	<key>PageBreakSet</key>
	<array>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>139</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>75</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>20</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>208</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>41</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>9</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>196</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>74</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>title</key>
			<string>序言</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string>序言.html</string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>119</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>20</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>99</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>177</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>144</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>87</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>67</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>89</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>33</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>44</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>30</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>232</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>64</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>33</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>259</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>449</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>166</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>14</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>31</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>241</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>9</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>16</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>204</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>16</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>131</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>326</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>511</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>702</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>118</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>18</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>308</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>18</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>82</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>19</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>184</integer>
					<key>ChapterIndex</key>
					<integer>1</integer>
					<key>ParaIndex</key>
					<integer>20</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第一章德州扑克的发展历史</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string>第一章德州扑克的发展历史.html</string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二章如何在德州扑克上赚钱</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string>第二章如何在德州扑克上赚钱.html</string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第三章德州扑克的规则和术语</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第四章新手入门</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第五章了解你手中的底牌</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第六章翻牌见分晓</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第七章低池比率和出牌比率</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第八章限注和无限注的差别</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第九章德州扑克十大技巧</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十章在河牌上加注</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十一章小对子赚大钱</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十二章中等的起手对子</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十三章底牌一对A的为难</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十四章 盲注拿到好牌是否加注</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十五章翻牌下注转牌过牌</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十六章避免在转牌中慢打</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十七章半欺骗为攻击武器</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十八章学好学精德州扑克</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第十九章扑克的谚语</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十章小心被出千欺骗</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十一章放下面子控制情绪</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十二章赌博是一种文化</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十三章视赌博为投资</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十四章走遍全球何处去赌</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>pages</key>
			<array>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AtomIndex</key>
					<integer>0</integer>
					<key>ChapterIndex</key>
					<integer>0</integer>
					<key>ParaIndex</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>title</key>
			<string>第二十五章人生就是一场赌</string>
			<key>startIndx</key>
			<integer>0</integer>
			<key>path</key>
			<string></string>
		</dict>
	</array>
	<key>PageHeight</key>
	<integer>820</integer>
	<key>PageWidth</key>
	<integer>560</integer>
</dict>
</plist>
