@namespace h "http://www.w3.org/1999/xhtml";
.MsoNormal {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.88889em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 21pt;
    text-justify: inter-ideograph
    }
.MsoNormal1 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.88889em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-justify: inter-ideograph
    }
.MsoNormal2 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.88889em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-justify: inter-ideograph
    }
.MsoNormal3 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.88889em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-justify: inter-ideograph
    }
.MsoNormal4 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.88889em;
    line-height: 20.45pt;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-autospace: none;
    text-indent: 21.25pt;
    text-justify: inter-ideograph;
    vertical-align: middle
    }
.MsoNormal5 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.88889em;
    line-height: 20.45pt;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-autospace: none;
    text-justify: inter-ideograph;
    vertical-align: middle
    }
.WordSection {
    display: block;
    layout-grid: 15.6pt;
    page: WordSection1
    }
.a {
    color: black;
    display: block;
    font-family: "汉仪细等线简 regular";
    font-size: 0.88889em;
    letter-spacing: 0.1pt;
    line-height: 20.45pt;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-autospace: none;
    text-indent: 21.25pt;
    text-justify: inter-ideograph
    }
.a1 {
    color: black;
    display: block;
    font-family: "汉仪细等线简 regular";
    font-size: 0.88889em;
    letter-spacing: 0.1pt;
    line-height: 20.45pt;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-autospace: none;
    text-indent: 0;
    text-justify: inter-ideograph
    }
.a2 {
    color: black;
    display: block;
    font-family: "汉仪细等线简 regular";
    font-size: 0.88889em;
    letter-spacing: 0.1pt;
    line-height: 20.45pt;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-autospace: none;
    text-indent: 21.25pt;
    text-justify: inter-ideograph
    }
.a3 {
    color: black;
    display: block;
    font-family: "汉仪细等线简 regular";
    font-size: 0.88889em;
    letter-spacing: 0.1pt;
    line-height: 20.45pt;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-autospace: none;
    text-indent: 0;
    text-justify: inter-ideograph
    }
.a4 {
    color: black;
    display: block;
    font-family: "汉仪细等线简 regular";
    font-size: 0.88889em;
    letter-spacing: 0.1pt;
    line-height: 20.45pt;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-autospace: none;
    text-indent: 21.25pt;
    text-justify: inter-ideograph
    }
.calibre {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-justify-trim: punctuation
    }
.calibre1 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.62963em;
    font-weight: bold;
    line-height: 240%;
    margin-bottom: 16.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 17pt;
    page-break-after: avoid;
    text-align: center;
    text-justify: inter-ideograph
    }
.calibre10 {
    font-family: "Palatino", "serif";
    font-size: 0.54545em;
    font-weight: normal;
    line-height: 240%
    }
.calibre11 {
    font-family: 方正兰亭刊黑_GBK
    }
.calibre12 {
    height: 68px;
    width: 120px
    }
.calibre13 {
    height: 80px;
    width: 120px
    }
.calibre14 {
    color: black;
    font-family: "Palatino", "serif";
    letter-spacing: 0.1pt
    }
.calibre15 {
    font-family: 方正楷体简体
    }
.calibre16 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.25926em;
    font-weight: bold;
    line-height: 173%;
    margin-bottom: 13pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 13pt;
    page-break-after: avoid;
    text-align: center;
    text-justify: inter-ideograph
    }
.calibre17 {
    color: gray;
    font-family: 方正小标宋简体;
    font-size: 1.29412em;
    font-weight: normal;
    line-height: 173%
    }
.calibre18 {
    color: gray;
    font-family: "Calibri", "sans-serif";
    font-size: 1.0em;
    font-weight: normal;
    line-height: 173%
    }
.calibre19 {
    background: black;
    color: black;
    font-family: "Times New Roman", "serif";
    font-size: 1.41176em;
    layout-grid-mode: line;
    line-height: 1.2
    }
.calibre2 {
    font-family: 方正小标宋简体;
    font-size: 0.77273em;
    font-weight: normal;
    line-height: 240%
    }
.calibre20 {
    height: 35px;
    width: 120px
    }
.calibre21 {
    font-family: 方正兰亭黑_GBK;
    font-size: 1.41667em
    }
.calibre22 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.25926em;
    font-weight: bold;
    line-height: 173%;
    margin-bottom: 13pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 13pt;
    page-break-after: avoid;
    text-align: justify;
    text-justify: inter-ideograph
    }
.calibre23 {
    font-family: 方正兰亭黑_GBK;
    font-size: 0.79412em;
    font-weight: normal;
    line-height: 173%
    }
.calibre24 {
    font-family: 方正兰亭黑_GBK;
    font-size: 0.70588em;
    font-weight: normal;
    line-height: 173%
    }
.calibre25 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 3.2pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    page-break-after: avoid;
    text-align: justify;
    text-justify: inter-ideograph
    }
.calibre26 {
    color: black;
    font-family: 方正小标宋简体;
    font-size: 1.25926em;
    font-weight: normal;
    line-height: 1.2
    }
.calibre27 {
    color: green;
    font-family: 方正兰亭黑_GBK
    }
.calibre28 {
    color: green;
    font-family: "Palatino", "serif"
    }
.calibre29 {
    color: green;
    font-family: 方正楷体简体
    }
.calibre3 {
    font-family: 方正兰亭黑_GBK
    }
.calibre30 {
    color: black;
    font-family: 方正宋三简体;
    letter-spacing: 0.1pt
    }
.calibre31 {
    font-family: 方正宋三简体
    }
.calibre32 {
    color: black;
    font-family: "Calibri", "sans-serif";
    font-size: 1.25926em;
    font-weight: normal;
    line-height: 1.2
    }
.calibre33 {
    font-family: 宋体
    }
.calibre34 {
    height: 440px;
    width: 559px
    }
.calibre35 {
    color: black;
    font-family: 方正楷体简体;
    font-size: 1.125em;
    letter-spacing: 0.1pt
    }
.calibre36 {
    color: black;
    font-family: "Palatino", "serif";
    font-size: 1.125em;
    letter-spacing: 0.1pt
    }
.calibre37 {
    color: black;
    font-family: "Palatino", "serif";
    font-size: 0.88889em;
    letter-spacing: 0.1pt
    }
.calibre38 {
    font-family: "Palatino", "serif";
    font-size: 1.41667em
    }
.calibre39 {
    color: black;
    font-family: 汉仪报宋简;
    letter-spacing: 0.1pt
    }
.calibre4 {
    font-family: "Palatino", "serif"
    }
.calibre40 {
    color: black;
    font-family: 方正兰亭黑_GBK;
    letter-spacing: 0.1pt
    }
.calibre41 {
    font-weight: bolder
    }
.calibre42 {
    font-family: "Palatino", "serif";
    font-size: 1.25926em;
    line-height: 173%
    }
.calibre43 {
    display: block
    }
.calibre44 {
    color: black;
    font-family: 方正小标宋简体;
    font-size: 1.41667em;
    letter-spacing: 0.1pt
    }
.calibre45 {
    font-family: 方正兰亭黑_GBK;
    font-size: 1.125em
    }
.calibre5 {
    font-family: "Palatino", "serif";
    font-size: 0.88889em
    }
.calibre6 {
    display: block
    }
.calibre7 {
    height: 903px;
    width: 602px
    }
.calibre8 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.62963em;
    font-weight: bold;
    line-height: 240%;
    margin-bottom: 16.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 17pt;
    page-break-after: avoid;
    text-align: justify;
    text-justify: inter-ideograph
    }
.calibre9 {
    font-family: 方正兰亭黑_GBK;
    font-size: 0.54545em;
    font-weight: normal;
    line-height: 240%
    }
.duokan-footnote {
    height: auto;
    width: auto
    }